<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Confirmar Dados</title>
    <link rel="stylesheet" href="\css\uploadandconfirmacao.css">
</head>
<body>
    <img src="/images/furia-logo.png" alt="Logo FURIA" class="logo">
    <div class="container">
        <h1>Dados Extraídos</h1>
        
        <p>Nome Completo: <span th:text="${dados.nome}"></span></p>
        <p>CPF: <span th:text="${dados.cpf}"></span></p>
        <p>Data de Nascimento: <span th:text="${dados.dataNascimento}"></span></p>

        <form action="/confirmar" method="post">
            <button type="submit" name="confirmado" value="true">Confirmar Documento</button>
            <button type="submit" name="confirmado" value="false">Rejeitar Documento</button>
        </form>

        <br>
        <a href="/">Voltar ao Upload</a>

        <div th:if="${mensagem}">
            <p th:text="${mensagem}"></p>
        </div>
    </div>
</body>
</html>
