<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Quiz Finalizado - FURIA</title>
    <link rel="stylesheet" href="/css/quizFinal.css">
</head>
<body>
    <div class="container">
        <div class="left-panel">
          <h1 th:text="'Parabéns, ' + ${user.name} + '!'">Parabéns!</h1>
          <p th:text="'Você ganhou ' + ${xp} + ' XP no quiz da FURIA!'">Você ganhou XP!</p>
          <a id="tweetBtn" href="#" target="_blank">Compartilhar no Twitter 🐦</a>
        </div>
        <div class="right-panel">
          <!-- imagem de comemoração -->
        </div>
      </div>
      
        <div class="right">
            <img src="/images/furia_logo.png" alt="FURIA Logo">
        </div>
    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/
        let userName = /*[[${user.name}]]*/ 'Fã';
        let xp = /*[[${xp}]]*/ 0;
        let tweetText = encodeURIComponent("Acabei de ganhar " + xp + " XP no quiz da @FURIA! Acesse você também! [www.site.com] 🖤🐾 #Furia");
        let tweetUrl = "https://twitter.com/intent/tweet?text=" + tweetText;
        document.getElementById("tweetBtn").href = tweetUrl;
        /*]]>*/
    </script>
    
</body>
</html>
